<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0520464b-d20e-4af3-9169-1a6de4ac39f0/resourceGroups/PositionTracking/providers/Microsoft.Web/sites/PositionTracking</ResourceId>
    <ResourceGroup>PositionTracking</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://positiontracking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>positiontracking.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PositionTracking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PositionTracking</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:positionserver.database.windows.net,1433;Initial Catalog=location;User ID=shixunl;Password=lsx_1988" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PositionTrackingService.Models.PositionTrackingContext, PositionTrackingService" MigrationConfiguration="PositionTrackingService.Migrations.Configuration, PositionTrackingService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:positionserver.database.windows.net,1433;Initial Catalog=location;User ID=shixunl;Password=lsx_1988</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>